/* ==========================================================================
   Buttons
   ========================================================================== */

.btn {
  display: inline-block;
  padding: 0.35em 0;
  border: 0;
  background: transparent;
  color: $accent-color;
  font-weight: normal;
  text-decoration: underline;
  text-underline-offset: 0.2em;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }
}
